.panel {
  border: 2px solid black;
  width: 70vw;
  margin: auto;
  margin-top: 5rem;
  min-height: 30vh;
}

.panel h1 {
  margin: 20px 0;
}

.panel input {
  margin: 10px 5px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: bisque;
}

.panel button {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgb(231, 198, 12);
}

.panel button:hover {
  background-color: rgb(228, 228, 64);
}
