.list li {
  margin: 10px 0;
  /* font-weight: bold; */
  list-style-type: none;
}

.list button.confirm {
  margin-left: 10px;
}

.list button {
  padding: 5px 5px;
  margin-left: 10px;
}

.list {
  border-bottom: 2px dotted black;
  border-left: 2px dotted black;
  border-right: 2px dotted black;
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px 0;
}

.list h2 {
  margin-bottom: 30px;
}

.list h3 {
  margin: 30px 0;
  font-size: 22px;
}
